<jhi-tpl-definiciones [processNumber]="2" [listPrincipiosTemplate]="listPrincipiosTemplate"
    [listProcesosTemplate]="listProcesosTemplate" [listElementosTemplate]="listElementosTemplate"
    [processTitle]="'Planeación y estructura'">

</jhi-tpl-definiciones>

<!--========================================================
    Contenido personalizado para la plantilla: Definiciones
    ========================================================-->
<!-- Lista de principios -->
<ng-template #listPrincipiosTemplate>
    <li class="blt-2">Planear de forma efectiva <strong>la estructura</strong> nos permite asegurar que el
        negocio<strong> cuente con la capacidad organizacional</strong> adecuada as&iacute; como anticiparnos a
        las<strong> necesidades futuras</strong> del negocio.</li>
    <li class="blt-2">Este proceso implica definir de forma<strong> l&oacute;gica y eficiente</strong> las funciones,
        l&iacute;neas de reporte, roles, niveles organizacionales y esquemas de interacci&oacute;n, impactando
        directamente en el<strong> nivel de empoderamiento</strong>, productividad, toma de decisiones e
        interacci&oacute;n de los equipos.</li>
    <li class="blt-2"><strong>Nuestra estructura</strong> debe ser lo menos compleja posible para darle al negocio
        <strong>mayor capacidad de respuesta</strong>, agilidad, productividad, control y a nuestra gente claridad en
        las responsabilidades, sentido de contribuci&oacute;n y compromiso.</li>
    <li class="blt-2">Considerando el <strong>impacto que este proceso</strong> tiene para la compa&ntilde;&iacute;a
        &eacute;ste debe ser liderado por GH, Gerentes/Directores de las &aacute;reas y aprobado por la Gerencia
        General.</li>
</ng-template>
<!-- Lista de procesos -->
<ng-template #listProcesosTemplate>
    <li class="blt-sm">Estructura</li>
    <li class="blt-sm">Roles de las &aacute;reas y descripciones de cargo</li>
    <li class="blt-sm">Organigrama</li>
    <li class="blt-sm">Proceso de Control de Estructuras</li>
    <li class="blt-sm">Headcount</li>
</ng-template>
<!-- Lista de elementos -->
<ng-template #listElementosTemplate>
    <li class="blt-2 blt-sm">Fichas de Selección.</li>
</ng-template>