@import "src/main/webapp/content/scss/custom-functions";
@import "src/main/webapp/content/scss/custom-variables";

#title-process {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  opacity: 0.2;
  position: relative;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 5px;
}

.modal-header {
  padding: 0;
  flex-flow: column nowrap;
  border-bottom: 0;
  .header-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: color(primary);
    height: 35px;
    margin-bottom: 0.5rem;

    img {
      height: 65%;
      width: 25px;
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.875rem;
    width: 100%;

    img {
      margin: 0px 15px;
      height: 80px;
    }

    .header-line {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      -webkit-flex-shrink: 1;
      flex-shrink: 1;
      background-color: color(primary);
      height: 2px;
    }
  }
}

.modal-body {
  padding: 0;
  h1:first-child {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 5px 0;
    margin-bottom: 0.875rem;
  }
  .toolbox-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .toolbox-column {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding: 15px 15px 0;
      flex-grow: 1;
      max-width: 400px;
      width: 50%;
      white-space: pre-line;
      h2 {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        width: 100%;
      }
      h2.subtitle {
        margin-bottom: 15px;
        &::after {
          content: "";
          height: 2px;
          width: 100%;
          position: absolute;
          background-color: #fff;
          opacity: 0.2;
          bottom: -10px;
          left: 0;
        }
      }

      &:nth-last-child(2) {
        min-width: 50%;
      }
    }
  }

  .column-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;

    .title-wrapper {
      width: 20%;
      h2:first-child {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        display: inline-block;
        overflow: visible;
        padding: 5px;
        margin: 5px 0;
      }
    }

    .link-wrapper {
      flex-grow: 1;
      font-size: 0.95rem;
      .btn-modal {
        display: block;
        width: 90%;
        margin-bottom: 0.7rem;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &.add-mb {
      margin-bottom: 2rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .toolbox-footer {
    position: relative;
    min-height: 115px;
    margin-bottom: 60px;
    padding-bottom: 5px;
    div:first-of-type {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      margin: 0 auto;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      box-shadow: -3px 4px 10px rgba(10, 10, 10, 0.4);
      position: relative;
      z-index: 1;
      img {
        height: 90px;
        width: 90px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: inherit;
      transform: rotate(45deg);
      bottom: -25px;
      left: 50%;
      margin-left: -25px;
    }
  }
}
