<jhi-tpl-definiciones [processNumber]="3" [listPrincipiosTemplate]="listPrincipiosTemplate"
    [listProcesosTemplate]="listProcesosTemplate" [listElementosTemplate]="listElementosTemplate"
    [processTitle]="'Vinculación e integración'">

</jhi-tpl-definiciones>

<!--========================================================
    Contenido personalizado para la plantilla: Definiciones
    ========================================================-->
<!-- Lista de principios -->
<ng-template #listPrincipiosTemplate>
    <li class="blt-3">
        Sabemos que nuestra <strong>ventaja competitiva</strong> es nuestra gente, por eso, buscamos atraer y
        vincular al <strong>mejor talento</strong> a trav&eacute;s de procesos que nos garanticen
        <strong>oportunidad, calidad y efectividad</strong>.
    </li>
    <li class="blt-3">
        Tener una <strong>s&oacute;lida y permanente estrategia de atracci&oacute;n</strong> nos permite contar
        con las mejores fuentes de reclutamiento y mantener a nuestra empresa <strong>competitiva</strong> en el
        mercado laboral
    </li>
    <li class="blt-3">
        Para lograr <strong>atraer el mejor talento</strong> nuestra marca empleador debe ser diferencial,
        <strong>aspiracional y alineada</strong> con lo que somos, sirviendo as&iacute; de apoyo en sostener una
        <strong>relaci&oacute;n positiva</strong> con nuestros colaboradores y con el mercado laboral.
    </li>
    <li class="blt-3">
        Considerando que <strong>la fuente m&aacute;s efectiva</strong> de reclutamiento son los referidos es
        vital que nuestros<strong> l&iacute;deres se comprometan</strong> y se <strong>apropien</strong> de este
        proceso.
    </li>
    <li class="blt-3">
        La <strong>incorporaci&oacute;n</strong> y la <strong>inducci&oacute;n</strong> se consideran momentos de
        verdad <strong>determinantes</strong> para lograr <strong>conexi&oacute;n y v&iacute;nculo con la
            compa&ntilde;&iacute;a</strong>, por esta raz&oacute;n cuidamos y planeamos todos los elementos de estos
        procesos para que sean vividos de forma <strong>excepcional</strong>.
    </li>
    <li class="blt-3">
        A trav&eacute;s de un<strong> impecable proceso de inducci&oacute;n</strong> facilitamos que nuestra gente
        adquiera los <strong>conocimientos b&aacute;sicos</strong> del cargo y la compa&ntilde;&iacute;a que le
        permitan desempe&ntilde;arse de forma exitosa en el menor tiempo, as&iacute; como <strong>lograr adaptarse y
            conectarse</strong> con nuestra cultura y la forma como <strong>interactuamos</strong>.
    </li>
    <li class="blt-3">
        Nuestra expectativa es que todas las personas que vinculemos <strong>posean con las capacidades y
            motivadores</strong> para <strong>crecer</strong> dentro de su cargo y la compa&ntilde;&iacute;a.
    </li>
    <li class="blt-3">
        Adem&aacute;s de <strong>garantizar</strong> que las personas cuenten con <strong>la experiencia y
            requisitos</strong> definidos en cada posici&oacute;n es vital que nos aseguremos que sus<strong>
            valores y prop&oacute;sitos</strong> est&eacute;n alineados con los nuestros.
    </li>
    <li class="blt-3">
        Generalmente nuestros candidatos internos tendr&aacute;n <strong>prelaci&oacute;n</strong> sobre los
        externos siempre y cuando cumplan con los<strong> m&eacute;ritos para ocupar la
            posici&oacute;n</strong>.
    </li>
</ng-template>
<!-- Lista de procesos -->
<ng-template #listProcesosTemplate>
    <li class="blt-sm">Marca empleador.</li>
    <li class="blt-sm">Reclutamiento.</li>
    <li class="blt-sm">Selección.</li>
    <li class="blt-sm">Inducción.</li>
</ng-template>
<!-- Lista de elementos -->
<ng-template #listElementosTemplate>
    <li class="blt-3 blt-sm">Cultura.</li>
    <li class="blt-3 blt-sm">Competencias organizacionales.</li>
    <li class="blt-3 blt-sm">Descripciones de cargo .</li>
</ng-template>