<jhi-tpl-definiciones [processNumber]="6" [listPrincipiosTemplate]="listPrincipiosTemplate"
  [listProcesosTemplate]="listProcesosTemplate" [listElementosTemplate]="listElementosTemplate"
  [processTitle]="'Cierre exitoso'">

</jhi-tpl-definiciones>

<!--========================================================
    Contenido personalizado para la plantilla: Definiciones
    ========================================================-->
<!-- Lista de principios -->
<ng-template #listPrincipiosTemplate>
  <li class="blt-6">El <strong>valor por nuestra gente</strong> implica el cuidado en todos los momentos y experiencias
    con la compa&ntilde;&iacute;a, especialmente en las que generan mayor impacto emocional, por eso <strong>cuidamos y
      promovemos</strong> que todos los procesos de desvinculaci&oacute;n sean manejados <strong>con
      objetividad</strong> desde el <strong>respeto, cuidado y&nbsp; confidencialidad</strong> en el proceso velando por
    la dignidad de cada uno de <strong>nuestros colaboradores</strong>.</li>
  <li class="blt-6">Para garantizar esto es importante que estas decisiones se tomen y se lleven a cabo bajo <strong>los
      lineamientos y procesos establecidos.</strong></li>

</ng-template>
<!-- Lista de procesos -->
<ng-template #listProcesosTemplate>
  <li class="blt-sm">Proceso de desvinculaci&oacute;n</li>
  <li class="blt-sm">Entrevistas de retiro</li>
</ng-template>
<!-- Lista de elementos -->
<ng-template #listElementosTemplate>
  <li class="blt-6 blt-sm">Evaluaci&oacute;n de desempe&ntilde;o</li>
  <li class="blt-6 blt-sm">Procesos disciplinarios</li>
</ng-template>