<jhi-tpl-definiciones [processNumber]="5" [listPrincipiosTemplate]="listPrincipiosTemplate"
  [listProcesosTemplate]="listProcesosTemplate" [listElementosTemplate]="listElementosTemplate"
  [processTitle]="'Compromiso y reconocimiento'">

</jhi-tpl-definiciones>

<!--========================================================
    Contenido personalizado para la plantilla: Definiciones
    ========================================================-->
<!-- Lista de principios -->
<ng-template #listPrincipiosTemplate>
  <li class="blt-5">Queremos que nuestra gente sienta a<strong> CASA LUKER</strong> como su <strong>casa</strong>, es
    por esto que promovemos un <strong>clima de trabajo</strong> basado en el respeto, la claridad, la equidad, la
    alegr&iacute;a, el reconocimiento, la celebraci&oacute;n y la competitividad hacia <strong>el logro de los objetivos
      comunes</strong>.</li>
  <li class="blt-5">Estamos convencidos que una <strong>poderosa fuente de retenci&oacute;n</strong> y motivaci&oacute;n
    es la capacidad de la organizaci&oacute;n para generar <strong>experiencias positivas</strong> y extraordinarias
    hacia sus empleados. Es por eso que buscamos que todos los momentos de interacci&oacute;n entre <strong>nuestra
      gente y la compa&ntilde;&iacute;a</strong> sean cuidados y que las personas encuentren sinton&iacute;a entre su
    <strong>prop&oacute;sito de vida</strong> y el de <strong>la compa&ntilde;&iacute;a</strong>.</li>
  <li class="blt-5">Contamos <strong>con pr&aacute;cticas y beneficios</strong> adicionales a la compensaci&oacute;n
    salarial orientadas a impactar la vida afectiva y social de nuestra gente as&iacute; como a su <strong>equilibro en
      su trabajo y su familia.</strong></li>
  <li class="blt-5">Nos aseguramos de <strong>acompa&ntilde;ar</strong> y <strong>reconocer</strong> a nuestra gente en
    sus logros y en cada etapa de su <strong>proceso de desarrollo</strong>.</li>
  <li class="blt-5">Buscamos que nuestros salarios y esquemas de compensaci&oacute;n sean equitativos, competitivos y
    que estimulen <strong>niveles superiores de desempe&ntilde;o</strong> de nuestra gente.</li>
</ng-template>
<!-- Lista de procesos -->
<ng-template #listProcesosTemplate>
  <li class="blt-sm">Clima</li>
  <li class="blt-sm">Compensaci&oacute;n e Incentivos</li>
  <li class="blt-sm">Salario Emocional</li>
</ng-template>
<!-- Lista de elementos -->
<ng-template #listElementosTemplate>
  <li class="blt-5 blt-sm">Cultura</li>
  <li class="blt-5 blt-sm">Fijaci&oacute;n y seguimiento de objetivos individuales</li>
  <li class="blt-5 blt-sm">Evaluaci&oacute;n de desempe&ntilde;o</li>
  <li class="blt-5 blt-sm">Promociones</li>
</ng-template>