<div class="brand-container" id="contacto">
    <div class="row">
        <div class="col-12">
            <div class="hero">
                <div class="col-md-4">
                    <div class="map-container">
                        <jhi-map-luker></jhi-map-luker>
                    </div>
                </div>
                <div class="col-md-6 offset-md-2 align-self-center">
                    <div class="list-contact">
                        <div class="wrapper">
                            <div class="item-contact" *ngFor="let contact of contactList; last as isLast">
                                <h2 class="font-brand" *ngIf="contact.title">{{contact.title}}</h2>
                                <div class="d-flex align-items-center">
                                    <div class="img-wrapper">
                                        <img class="icon" [ngClass]="{'primary': !isLast, 'white': isLast }"
                                            [attr.src]="contact.gender === 'f' ? '/content/icons/woman.svg' : '/content/icons/man.svg'"
                                            alt="" height="60px">
                                    </div>
                                    <div class="item-details">
                                        <p class="name"> {{contact.name}}</p>
                                        <h3 class="position font-brand">{{contact.position}}</h3>
                                        <p class="email">{{contact.email}} <img class="icon" height="20px"
                                                src="/content/icons/mail.svg" alt="" [ngClass]="{'grey': !isLast, 'white': isLast }"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters bottom">
        <div class="d-flex flex-wrap align-items-end mt-2 w-100">
            <h2 class="font-brand main-title">Talento & Gestión</h2>
            <div class="text">
                <h2 class="title-contact">Contáctanos</h2>
                <h2 class="font-brand text-uppercase">¿En qué podemos ayudarte?</h2>
            </div>
            <img class="icon white contact" src="/content/icons/contact-icon.svg" alt="Contacto">
        </div>
    </div>
</div>