<div class="brand-container" id="definiciones">
    <div class="row">
        <div class="col-12">
            <div class="hero definicion-hero">
                <div>
                    <button class="btn btn-brand light" id="btn-regresar" [ngClass]="processClasses.bg" (click)="goBack()"> 
                        Regresar <img src="/content/icons/back-button.png" alt="">
                    </button>
                    <div class="btn btn-brand light static" [ngClass]="processClasses.bg">
                        <span class="font-weight-bold font-brand">Definiciones</span>
                        <span class="btn-badge"><img src="/content/icons/group-cycle.svg" alt="" class="icon"
                                [ngClass]="processClasses.icon"></span>
                    </div>
                    <h1 class="font-brand">
                        {{processTitle}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters definicion-bottom">
        <div class="col-md-7">
            <h1 class="font-brand font-weight-bold text-uppercase text-center mb-0 dark"
                [ngClass]="processClasses.color">
                Principios</h1>
            <ul class="list text-justify">
                <ng-container *ngTemplateOutlet="listPrincipiosTemplate ? listPrincipiosTemplate : defaultList">
                </ng-container>
            </ul>
        </div>
        <div class="col-md-5 item-wrapper">
            <div class="item invert light" [ngClass]="processClasses.bg">
                <div class="header">
                    <h2>Procesos</h2>
                </div>
                <div class="img-wrapper">
                    <img src="/content/icons/communication.svg" alt="" class="icon"
                        [ngClass]="processClasses.icon"></span>
                </div>
                <ul class="list text-justify">
                    <ng-container *ngTemplateOutlet="listProcesosTemplate ? listProcesosTemplate : defaultListProcesos">
                    </ng-container>
                </ul>
            </div>
            <div class="item">
                <div class="header">
                    <h2>Elementos</br>asociados</h2>
                </div>
                <div class="img-wrapper">
                    <img src="/content/icons/hand-figure.svg" alt="" class="icon"
                        [ngClass]="processClasses.icon"></span>
                </div>
                <ul class="list text-justify">
                    <ng-container
                        *ngTemplateOutlet="listElementosTemplate ? listElementosTemplate : defaultListElementos">
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Default rendering -->
<ng-template #defaultList>
    <li>Lorem ipsum dolor sit amet consectetur
        adipisicing elit.
        Aperiam neque nostrum cumque reiciendis quis modi, expedita ducimus. Facere nisi, amet
        voluptates quo, dolores expedita, ea exercitationem maxime accusantium ab explicabo.</span></li>
</ng-template>
<ng-template #defaultListProcesos>
    <li class="blt-sm">Placeholder</li>
    <li class="blt-sm">Placeholder</li>
    <li class="blt-sm">Placeholder</li>
</ng-template>
<ng-template #defaultListElementos>
    <li class="blt-sm">Placeholder</li>
    <li class="blt-sm">Placeholder</li>
    <li class="blt-sm">Placeholder</li>
</ng-template>