@import "src/main/webapp/content/scss/custom-functions";
@import "src/main/webapp/content/scss/custom-variables";

#sps .hero {
  background-image: linear-gradient(
    90deg,
    rgba(128, 128, 128, 1) 0%,
    rgba(181, 177, 177, 1) 35%,
    rgba(158, 161, 162, 1) 100%
  );
  background-position-x: 20%;
  border-bottom: none;
  padding-bottom: 3rem;

  @include md-screen {
    background-image: url("/content/images/heroes/sps-hero.jpg"),
      linear-gradient(90deg, rgba(128, 128, 128, 1) 0%, rgba(181, 177, 177, 1) 35%, rgba(158, 161, 162, 1) 100%);
    height: 65vh;
    background-size: cover;
    background-position-x: 40%;
    padding-bottom: 0;
  }
  @include lg-screen {
    justify-content: initial;
  }

  h1:first-of-type {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 6px 5px 9px rgba(10, 10, 10, 0.77);
    font-weight: 900;
    margin: 0.5rem 0 3.5rem;
    font-size: 3rem;
    white-space: pre;
  }

  .buttons-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include md-screen {
      bottom: 10%;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }

    .btn-brand {
      width: 125px;
      .text-button {
        position: absolute;
        white-space: initial;
        border-top: 1px solid #fff;
        text-align: justify;
        top: 110%;
        font-size: 0.9rem;
        max-width: 80%;
        pointer-events: none;
      }
    }
  }

  .map-container {
    z-index: 2;
    height: 75%;
    width: inherit;
    max-width: 375px;
    max-height: 375px;
    text-align: center;
    margin: 0 auto;
    @include md-screen {
      position: absolute;
      height: 66%;
      bottom: -3rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

#sps .bottom {
  background-color: color(primary);
  position: relative;
  padding-top: 2rem;
  flex-grow: 1;
  align-items: flex-start;
  overflow: hidden;
  @include md-screen {
    max-height: 390px;
  }
  h2:first-child {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 6px 5px 9px rgba(10, 10, 10, 0.77);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    @include md-screen {
      margin: 0;
      padding-top: 1.5rem;
      min-width: 33%;
    }
  }

  .text {
    padding: 0 1.5rem;
    color: #fff;
    text-align: justify;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1;
    p {
      margin-bottom: 0.5rem;
    }
    @include md-screen {
      width: 50%;
    }
    @include lg-screen {
      border-left: 1px solid #fff;
    }
  }

  .contact {
    transition: all 0.6s;
    cursor: pointer;
    height: 4rem;
    @include md-screen {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    @include lg-screen {
      height: 5rem;
      right: 1rem;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
