<div class="brand-container" id="sps">
    <div class="row">
        <div class="col-12">
            <div class="hero">
                <div class="col-md-4">
                    <div class="map-container">
                        <jhi-map-luker [activeElement]="1" [fastLoad]="true"></jhi-map-luker>
                    </div>
                </div>
                <div class="col-md-8">
                    <h1 class="font-brand">SPS 2019</h1>
                    <div class="buttons-top">
                        <a class="btn btn-brand bg-1 filled" routerLink="./placeholder">
                            <span class="font-weight-bold">Iniciar</span>
                            <span class="btn-badge"><img src="/content/icons/figure-circle.svg" alt=""
                                    class="icon first"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters bottom">
        <div class="d-flex flex-wrap align-items-end mt-2">
            <h2 class="font-brand">Talento & Gestión</h2>
            <div class="text">
                <p>A trav&eacute;s de los planes mensuales individuales se garantiza que los Objetivos Individuales,
                    Plan Anual del &Aacute;rea y el PDI (para quienes aplique) se lleve a cabo en el d&iacute;a a
                    d&iacute;a.</p>
                <p>Se deben incluir las actividades asociadas tanto a los Objetivos Anuales como a las funciones
                    prioritarias del cargo.</p>
                <p>Cada profesional del &aacute;rea definir&aacute; su plan mensualmente y este ser&aacute; el insumo
                    para los seguimientos jefe/colaborador.</p>

            </div>
            <a routerLink="/proceso/contacto"><img class="contact" src="/content/icons/contact-secondary.svg"
                    alt="Contacto"></a>
        </div>
    </div>
</div>