<jhi-tpl-definiciones [processNumber]="1" [listPrincipiosTemplate]="listPrincipiosTemplate"
  [listProcesosTemplate]="listProcesosTemplate" [listElementosTemplate]="listElementosTemplate"
  [processTitle]="'Alineación estratégica'">

</jhi-tpl-definiciones>

<!--========================================================
    Contenido personalizado para la plantilla: Definiciones
    ========================================================-->
<!-- Lista de principios -->
<ng-template #listPrincipiosTemplate>
  <li class="blt-1">La <strong>estrategia organizacional</strong> establece los objetivos y la manera de lograrlos, por
    esta
    raz&oacute;n es el marco para la definici&oacute;n de todos los factores relacionados con la <strong>gesti&oacute;n
      del talento.</strong></li>
  <li class="blt-1"><strong>Alinear el equipo</strong> humano de la empresa con el <strong>prop&oacute;sito, los valores
      y objetivos
      comunes</strong> genera claridad y alineaci&oacute;n con nuestra raz&oacute;n de ser, con nuestra
    <strong>estrategia</strong> y nuestra <strong>cultura</strong>.</li>
  <li class="blt-1">Nos permite <strong>garantizar</strong> que todos nuestros <strong>esfuerzos</strong> se dirijan a
    una<strong>
      misma direcci&oacute;n</strong> y se concentren en lo que es relevante para el negocio y nuestras &aacute;reas,
    llev&aacute;ndonos a ganar <strong>productividad, compromiso, sinergia</strong> y altos niveles de
    <strong>contribuci&oacute;n</strong>.</li>
</ng-template>
<!-- Lista de procesos -->
<ng-template #listProcesosTemplate>
  <li class="blt-sm">Lineamientos Estratégicos.</li>
  <li class="blt-sm">Sistema de Planeación y Seguimiento.</li>
</ng-template>
<!-- Lista de elementos -->
<ng-template #listElementosTemplate>
  <li class="blt-1 blt-sm">Mapa de Gestión del Talento.</li>
  <li class="blt-1 blt-sm">Modelo de Gestión Humana.</li>
  <li class="blt-1 blt-sm">Inducción a la compañía, al área y al cargo.</li>
</ng-template>