<div class="brand-container">
    <div class="bg-wrapper">
        <div class="logo-container">
            <jhi-universidad-logo *ngIf="!opaqueElements.length"></jhi-universidad-logo>
            <jhi-universidad-logo *ngIf="opaqueElements.length" [opaqueElements] = "opaqueElements"></jhi-universidad-logo>
        </div>
        <div class="bottom">
            <a routerLink="/proceso/contacto"><img class="contact" src="/content/icons/contact.svg" alt="Contacto"></a>
            <a routerLink="./placeholder" class="btn btn-brand">Ingresa aquí</a>
        </div>
    </div>
</div>