<div class="brand-container">
    <div class="row">
        <div class="col-12">
            <div class="hero home-hero">
                <div>
                    <h1 class="font-brand">Talento & gestión</h1>
                    <button *ngIf="!isAuthenticated()" class="btn btn-brand" (click)="login()">Iniciar <span
                            class="font-weight-bold">sesión</span></button>
                </div>
                <div class="map-container" [ngSwitch]="isAuthenticated()">
                    <jhi-map-luker *ngSwitchCase="true"></jhi-map-luker>
                    <jhi-map-luker *ngSwitchCase="false" [shouldOpenLogin]="true"></jhi-map-luker>
                </div>
            </div>
        </div>
    </div>
    <div class="row home-bottom no-gutters">
        <div class="col-md-7 col-lg-8">
            <div class="bottom-panel">
                <div>
                    <h2 class="font-brand"><span>Conoce</span> nuestros roles</h2>
                    <div>
                        <button class="btn btn-brand" (click)="goLink('talento')"><span
                                class="font-weight-bold">Talento</span> como aliado
                            estratégico <span class="btn-badge"><img src="/content/icons/group-idea.svg" alt=""
                                    class="icon primary"></span></button>
                        <button class="btn btn-brand" (click)="goLink('lider')"><span
                                class="font-weight-bold">Líder</span> desarrollador de su
                            gente <span class="btn-badge"><img src="/content/icons/group-flag.svg" alt=""
                                    class="icon primary"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4">
            <div class="bottom-info">
                <ngb-carousel class="fit-carousel no-indicators">
                    <ng-template ngbSlide *ngFor="let imgUrl of carouselImages">
                        <img src="{{imgUrl}} " onError="this.src='/content/images/home/home-info.jpg';" alt="Slide" style="object-fit: fill;">
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>