<div class="brand-container" id="vinculacion">
    <div class="row">
        <div class="col-12">
            <div class="hero">
                <div class="col-md-6">
                    <div class="row no-gutters h-100">
                        <div class="col-md-8">
                            <div class="map-container">
                                <jhi-map-luker [activeElement]="3" [fastLoad]="true"></jhi-map-luker>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-sm-block"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="font-brand">Vinculación</h1>
                    <div class="buttons-top">
                        <a class="btn btn-brand bg-3 filled" routerLink="./placeholder">
                            <span class="font-weight-bold">
                                Consultar<br>Gestionar</span>
                            <span class="btn-badge pos-br"><img src="/content/icons/shakehand.svg" alt=""
                                    class="icon third"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters bottom">
        <div class="d-flex flex-wrap align-items-end mt-2">
            <h2 class="font-brand">Talento & Gestión</h2>
            <div class="text">
                Sabemos que nuestra <span class="font-weight-bold">ventaja competitiva</span> es nuestra gente, por
                eso,
                <span class="font-weight-bold">atraer y vincular</span> al mejor
                talento a través de procesos que nos garanticen <span class="font-weight-bold">oportunidad, calidad
                    y
                    efectividad.</span>
            </div>
            <a routerLink="/proceso/contacto"><img class="contact" src="/content/icons/contact-secondary.svg"
                    alt="Contacto"></a>
        </div>
    </div>
</div>