<jhi-tpl-definiciones [processNumber]="4" [listPrincipiosTemplate]="listPrincipiosTemplate"
  [listProcesosTemplate]="listProcesosTemplate" [listElementosTemplate]="listElementosTemplate"
  [processTitle]="'Desempeño y desarrollo'">

</jhi-tpl-definiciones>

<!--========================================================
    Contenido personalizado para la plantilla: Definiciones
    ========================================================-->
<!-- Lista de principios -->
<ng-template #listPrincipiosTemplate>
  <li class="blt-4">Estamos seguros que todos los seres humanos tenemos <strong>capacidades y potencial</strong> para
    desarrollar, por
    eso apoyamos activamente el <strong>desarrollo de nuestra gente</strong> asegurando los <strong>escenarios, retos y
      herramientas</strong> que les permita liberar su talento y crecer en paralelo a <strong>nuestra
      compa&ntilde;&iacute;a.</strong></li>
  <li class="blt-4">Creemos en un modelo de aprendizaje <strong>70/20/10</strong>. El 70 % lo proporciona
    la&nbsp;<strong>experiencia&nbsp;</strong>en el propio puesto de trabajo. Sin duda no hay mejor manera de aprender a
    hacer algo que verse enfrentado a los&nbsp;problemas del d&iacute;a a d&iacute;a,&nbsp;ser proactivo&nbsp;y buscar
    soluciones a cada reto. El 20 % lo proporciona la&nbsp;<strong>retroalimentaci&oacute;n</strong> e
    intercambio&nbsp;con otros (Jefes, clientes, Pares, Colaboradores, Clientes). El 10 % lo proporciona
    la&nbsp;<strong>formaci&oacute;n tradicional</strong>.</li>
  <li class="blt-4">Por esta raz&oacute;n buscamos que nuestros cargos tengan<strong> responsabilidades
      desafiantes</strong>, altos
    niveles de <strong>exposici&oacute;n y autonom&iacute;a</strong> en la toma de decisiones que potencien el
    <strong>crecimiento y desarrollo</strong> de nuestra gente. Todo esto acompa&ntilde;ado con planes de
    <strong>entrenamiento y capacitaci&oacute;n.</strong></li>
  <li class="blt-4">Buscamos que nuestras acciones de capacitaci&oacute;n <strong>generen retorno y
      contribuci&oacute;n</strong> a
    nuestra gente y al negocio. Por esto est&aacute;n focalizadas a aportar <strong>conocimientos y habilidades
      directamente relacionados con el rol</strong> y que brinden aprendizajes diferenciales a los que se puedan
    adquirir a trav&eacute;s de la <strong>experiencia en el trabajo.</strong></li>
  <li class="blt-4">Nuestro crecimiento como empresa se deriva de la<strong> contribuci&oacute;n de nuestra
      gente.</strong> Por esto
    es vital que cada persona cuente con objetivos claros, acompa&ntilde;amiento permanente y
    <strong>retroalimentaci&oacute;n oportuna.</strong></li>
  <li class="blt-4">Identificar el nivel de <strong>desempe&ntilde;o de nuestros colaboradores</strong> nos permite
    estimular y
    reconocer la contribuci&oacute;n excepcional y <strong>tomar acciones</strong> cuando el los resultados no son los
    esperados.</li>
  <li class="blt-4">Con el objetivo de <strong>garantizar meritocracia y rigurosidad todas las decisiones</strong> que
    impacten el
    crecimiento y el desarrollo de nuestra gente ser&aacute;n tomadas de acuerdo a los <strong>procesos y lineamientos
      establecidos.</strong></li>
</ng-template>
<!-- Lista de procesos -->
<ng-template #listProcesosTemplate>
  <li class="blt-sm">Fijaci&oacute;n y seguimiento de objetivos individuales</li>
  <li class="blt-sm">Evaluaci&oacute;n de desempe&ntilde;o</li>
  <li class="blt-sm">Capacitaci&oacute;n</li>
  <li class="blt-sm">Planes de desarrollo</li>
  <li class="blt-sm">Valoraci&oacute;n del talento</li>
  <li class="blt-sm">Planes de carrera y sucesi&oacute;n</li>
</ng-template>
<!-- Lista de elementos -->
<ng-template #listElementosTemplate>
  <li class="blt-4 blt-sm">Planes de reconocimiento</li>
  <li class="blt-4 blt-sm">Compensaci&oacute;n y beneficios</li>
  <li class="blt-4 blt-sm">Cierres exitosos</li>
</ng-template>